/* qui sommes nous */

.vision {
  display: flex;
  align-items: center;
}

.vision-icon {
  width: 5rem;
  margin: 1rem;
}

/* rainbow bar styling */
table {
  border-collapse: collapse;
}
td {
  width: 2rem;
  height: 0.5rem;
  padding: 0px;
}
.color1 {
  background-color: #e73a2b;
}
.color2 {
  background-color: #e98023;
}
.color3 {
  background-color: #ecaf30;
}
.color4 {
  background-color: #029d5a;
}
.color5 {
  background-color: #1e6195;
}
.color6 {
  background-color: #6c3787;
}

/* nav styles */

.hamburger {
  padding-right: 1.25rem;
  cursor: pointer;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.hamburger .line {
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  margin-bottom: 0.5rem;
  background-color: #c692f1;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 3rem;
  background-color: #c692f1;
  display: none;
  margin: 0;
}

.nav-links ul {
  list-style: none;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 0.5rem 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #c692f1;
}

.expanded {
  display: unset;
}
